.main {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* 设置父元素的 position: relative; 可以是offsetTop 相对于父元素获取  */
  position: relative;
}