body {
  margin: 0;
}

#div {
  width: 100vw;
  height: fit-content;
  position: relative;
}

#img {
  width: 100%;
}


button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  transition: all .5s;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  line-height: 50px;
  font-size: 26px;
  border-style: none;
  outline-style: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

#last {
  left: 10px;
}

#next {
  right: 10px;
}

.last1 {
  width: 4px;
  height: 20px;
  background-color: white;
  margin-left: 23px;
  transition: all .3s;
}

button:hover {
  background-color: rgba(255, 255, 255, 1);
}

#div2 {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.point {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: darkgray;
  margin-left: 10px;
  float: left;
}

#last2 {
  transform-origin: 0 100%;
  transform: rotateZ(30deg);
  margin-left: 11px;
}

#last:hover #last2 {
  transform: rotateZ(45deg);
  background-color: black;
}

#last3 {
  transform-origin: 0 0;
  transform: rotateZ(-30deg);
  margin-left: 11px;
}

#last:hover #last3 {
  transform: rotateZ(-45deg);
  background-color: black;
}

#last4 {
  transform-origin: 100% 100%;
  transform: rotateZ(-30deg);
}

#next:hover #last4 {
  transform: rotateZ(-45deg);
  background-color: black;
}

#last5 {
  transform-origin: 100% 0;
  transform: rotateZ(30deg);
}

#next:hover #last5 {
  transform: rotateZ(45deg);
  background-color: black;
}