body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.main {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
}
.main > div {
  display: flex;
  flex-wrap: wrap;
}