#box {
  width: 80px;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
}

#view {
  width: 200px;
  margin: 100px auto;
}

#view button {
  vertical-align: middle;
}

#view span {
  font-weight: bolder;
  color: rgb(185, 0, 0);
  display: inline-block;
  vertical-align: middle;
}